DATA_DIR=/mnt/c/path/to/export/files
NOT_PLAYERS=/mnt/c/path/to/a/json/file

DB_ARTIFACT=/path/to/wsl/artifact
DB_BACKUP=/mnt/c/path/to/windows/backup

DB_URL=sqlite:////user:password@localhost:5432/db_name
POSTGRES_DB=db_name
POSTGRES_USER=user
POSTGRES_PASSWORD=password

LOG_LEVEL=INFO